/* ---------RESETS--------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* FOR REMOVING THE BLANK SPACE ON THE SIDE  */
@media screen and (max-width: 1024px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/*------------CONTAINER/GRID-------------*/
.container{
max-width: 120rem;
margin: 0 auto;
padding: 1rem 1.5rem;
}

/* COLORS  */
:root {
    --orange: #de950c;
    --yellow: #fcb316;
    --light: #ffffff;
    --dark: #191919;
    --cream: rgb(245, 245, 220);
}

/* BUTTON CSS */
.btn{
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 10px;
} 

.main{
    color: var(--yellow);
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid var(--yellow);
    transition: .5s ease-in;
}

.main:hover{
    background-color: var(--yellow);
    color: var(--light);
    border: 2px solid var(--yellow);
    transition: .5s ease-in;
}

.mainWhite{
    color: var(--dark);
    background-color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid var(--light);
    transition: .5s ease-in;
}

.mainWhite:hover{
    background-color: transparent;
    color: var(--light);
    border: 2px solid var(--light);
    transition: .5s ease-in;
}



/* ===== BANNER SECTION ===== */
.banner{
    background-image: url('./img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.banner-top, .banner-bot{
    position: relative;
    z-index: 2;
}

.banner-bot{
    padding-top: 10rem;
}

.banner-top{
    padding: 2rem 0;
}

.banner-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-top-branding img{
    width: 25rem;
}

.banner-top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.banner-top-nav li a{
    color: var(--light);
    font-size: 1.7rem;
    font-weight: 700;
}

.banner-bot-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-bot-img img{
    width: 60rem;
}

.banner-bot-text h3{
    color: var(--light);
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    width: 35rem;
}

.banner-bot-text h3 span{
    color: var(--yellow);
    display: block;
}

.banner-bot-text p{
    color: var(--light);
    font-size: 1.6rem;
    width: 50rem;
    margin: 5rem 0;
}

.banner-bot-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    width: 20rem;
    height: fit-content;
    padding: 2.5rem;
}

.banner-bot-cards{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-blk{
    background-color: var(--dark);
}

.card-yllw{
    background-color: var(--yellow);
}

.card-org{
    background-color: var(--orange);
}

.banner-bot-items img{
    width: 6rem;
}

.banner-bot-items h4{
    color: var(--light);
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.banner-bot-items p{
    color: var(--light);
    font-size: 2rem;
    margin: 0;
}

.toggle__menu{
    display: hidden;
}


@media screen and (max-width: 500px){
    .banner-top-branding img{
        width: 25rem;
    }

    .banner-top, .banner-bot{
        position: relative;
        z-index: 1;
    }

    .banner-top-nav{
        background: var(--dark);
        position: absolute;
        top: 10rem;
        overflow: hidden;
        max-height: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        transition: .5s ease;
        z-index: 100;
    }

    .banner-top-nav.open{
        max-height: 50rem;
        transition: .5s ease;
    }

    .banner-top-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    .banner-top-nav li:first-child{
        margin-top: 3rem;
        
    }

    .banner-top-nav li:last-child{
        margin-bottom: 3rem;
        
    }

    .toggle__menu span{
        width: 3rem;
        height: .3rem;
        display: block;
        margin-top: .3rem;
        border-radius: 5rem;
        transition: .5s ease;
        background-color: var(--light);
    }

    .toggle__menu{
        display: block;
    }

    .toggle__menu.open span:first-child{
        transform: translate(0, 5px) rotate(225deg);
        transition: .5s ease;
    }

    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease;
    }

    .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-225deg);
        transition: .5s ease;
    }

    .toggle__menu:hover{
        cursor: pointer;
    }

    .banner-bot-wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }
    
    .banner-bot-img img{
        width: 100%;
    }
    
    .banner-bot-text h3{
        text-align: center;
        font-size: 4rem;
        width: 100%;
    }

    .banner-bot-text p{
        width: 100%;
        text-align: center;
    }
    
    .banner-bot-cards{
        display: flex;
        flex-direction: column;
    }

    .banner-bot-items{
        width: 80%;
    }


}


/* ===== ABOUT SECTION ===== */
.about{
    padding: 3rem 0;
    background-color: var(--light);
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img img{
    width: 40rem;
}

.about-title h5{
    color: var(--yellow);
    font-size: 1.8rem;
    font-weight: 700;
}

.about-title h3{
    color: var(--dark);
    font-size: 3rem;
    font-weight: 700;
    width: 70rem;
    line-height: 1;
    margin-bottom: 3rem;
}

.about-text p{
    color: var(--dark);
    font-size: 1.6rem;
    width: 60rem;
    text-align: justify;
}


@media screen and (max-width: 500px){
    .about-wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }
    
    .about-img img{
        width: 100%;
    }
    
    .about-title h5{
        text-align: center;
    }
    
    .about-title h3{
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    
    .about-text p{
        width: 100%;
    }

}


/* ===== ABOUT SECTION ===== */
.packages{
    padding: 3rem 0;
    background-color: var(--light);
}

.packages-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.packages-card{
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 60px;
    width: 60rem;
    padding: 5rem;
}

.packages-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages-title h3{
    color: var(--dark);
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.packages-title h3 span{
    display: block;
}

.packages-title p{
    color: var(--light);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    width: 10rem;
    padding: 3rem 0;
    background-color: var(--yellow);
    border-radius: 50%;
    text-align: center;
}

.packages-card ul li{
    list-style: disc;
    color: var(--dark);
    font-size: 1.6rem ;
    margin-left: 4rem;
}

.packages-bot{
    margin-top: 5rem;
}

.packages-card-bot{
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 60px;
    width: 100%;
    padding: 5rem;
}

.packages-title-bot h3{
    color: var(--dark);
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.packages-title-bot p{
    color: var(--light);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    width: 10rem;
    padding: 3rem 0;
    background-color: var(--yellow);
    border-radius: 50%;
    text-align: center;
}

.packages-card-bot ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

.packages-card-bot ul li{
    list-style: disc;
    color: var(--dark);
    font-size: 1.6rem ;
    margin-left: 4rem;
}

@media screen and (max-width: 500px) {
    .packages-top{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .packages-card{
        width: 100%;
    }

    .packages-bot{
        margin-top: 3rem;
    }

    .packages-card-bot ul{
        display: grid;
        grid-template-columns: 1fr;
    }

}



/* ===== SERVICES SECTION ===== */
.services{
    background-image: url('./img/services-bg.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    background-attachment: fixed;
}

.services-bg{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10rem;
}

.services-wrapper{
    text-align: center;
}

.services-wrapper h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--light);
}

.services-wrapper p{
    font-size: 1.5rem;
    color: var(--light);
}

@media screen and (max-width: 500px){
    
    .services-wrapper h3{
        font-size: 5rem;
    }
    
    .services-wrapper p{
        font-size: 1.6rem;
    }

}


/* ===== SERVICES BLOCK SECTION ===== */
.services-blocks{
    padding: 3rem 0;
}

.services-blocks-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    margin-top: -10rem;
}

.services-blocks-cards{
    position: relative;
    width: 35rem;
    height: 25rem;
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.services-blocks-cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.services-blocks-cards:hover::after {
    opacity: 1;
    cursor: pointer;
}

.services-blocks-cards span{
    height: 1.5rem;
    width: 100%;
    display: block;
    background-color: var(--yellow);

    position: absolute;
    bottom: 0;
    z-index: 2;
}

.services-blocks-cards h3{
    color: var(--light);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

    position: relative;
    z-index: 2;
}

.block-1{
    background-image: url('./img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-2{
    background-image: url('./img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-3{
    background-image: url('./img/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-4{
    background-image: url('./img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-5{
    background-image: url('./img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block-6{
    background-image: url('./img/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 500px){

    .services-blocks-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    
        margin-top: 0;
    }
    
    .services-blocks-cards{
        width: 100%;
    }

}



/* ===== WHY SECTION ===== */
.why{
    padding: 5rem 0;
}

.why-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-title h3{
    font-size: 5rem;
    text-align: left;
    font-weight: 700;
    width: 60rem;
    line-height: 1;
}

.why-title p{
    font-size: 1.6rem;
    text-align: justify;
    width: 60rem;
    line-height: 1.5;
}

.why-wrapper{
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    gap: 8rem;

}

.why-cards{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10rem;
}

.why-cards img{
    width: 50rem;
}

.why-text{
    width: 60rem;
}

.why-text h3{
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 2rem;
}

.why-text p{
    text-align: justify;
    font-size: 1.7rem;
}

@media screen and (max-width: 500px){
    .why-title{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .why-title h3{
        width: 100%;
        text-align: center;
    }
    
    .why-title p{
        width: 100%;
    }
    
    .why-wrapper{
        margin-top: 3rem;
    
        display: flex;
        flex-direction: column;
        gap: 5rem;
    
    }
    
    .why-cards{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .why-cards img{
        width: 100%;
    }
    
    .why-text{
        width: 100%;
    }

    .why-text h3{
        font-size: 3rem;
    }


}


/* ===== CONTACT SECTION ===== */
.contact{
    padding: 3rem 0;
}

.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img{
    width: 60rem;
}

.contact-text h3{
    color: var(--dark);
    font-weight: 800;
    font-size: 3rem;
    line-height: 1;
}

.contact-text p{
    color: var(--yellow);
    font-weight: 800;
    font-size: 1.6rem;
}

.contact-text ul li a{
    color: var(--light);
    font-size: 2.5rem;
}

.contact-form form{
    width: 50rem;
    height: 40rem;
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5rem;
    border-radius: 30px;

    margin-top: 5rem;
}

.form-group label{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-group label span{
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.name-fields {
    display: flex;
    gap: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.submitBtn{
    width: 15rem;
    text-align: center;
    margin-top: 3rem;
}


@media screen and (max-width: 500px) {
    .contact-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    
    .contact-img{
        width: 100%;
    }

    .contact-text h3{
        text-align: center;
    }
    
    .contact-text p{
        text-align: center;
    }

    .contact-form form{
        width: 100%;
    }

}


/* ===== LINKS SECTION ===== */
.links{
    padding-top: 3rem;

    background-image: url('./img/links-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    position: relative;
    overflow: hidden;
}

.links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.95);
    z-index: 1;
}

.links-wrapper{
    position: relative;
    z-index: 2;
}

.links-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-top img{
    width: 40rem;
}

.links-top-btn{
    display: flex;
    gap: 2rem;
}

.links-bottom{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10rem;
    margin-top: 5rem;
}

.links-1{
    width: 25rem;
}

.links-2{
    width: 30rem;
}

.links-1 h3{
    color: var(--light);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.links-1 ul li a{
    color: var(--light);
    font-size: 1.7rem;
}

.links-1 ul li{
    margin-bottom: 1rem;
}

.links-2 h3{
    color: var(--light);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.links-2 ul li a{
    color: var(--light);
    font-size: 2rem;
}

.links-2 ul li{
    margin-bottom: 1rem;
}

.links-2 ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
}

.links-2 h5{
    color: var(--light);
    font-size: 1.5rem;
    width: 25rem;
}


@media screen and (max-width: 500px) {

    .links-top{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .links-top img{
        width: 30rem;
    }

    .links-bottom{
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }

}



/* ===== FOOTER SECTION ===== */
.footer{
    padding: 2rem 0;

    background-image: url('./img/links-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    position: relative;
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(255, 255, 0, 0.8);
    z-index: 1;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 2;
}

.footer p{
    color: var(--dark);
    font-size: 1.5rem;
    font-style: italic;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.footer ul li{
    color: var(--dark);
    font-size: 1.5rem;
    font-style: italic;
}

@media screen and (max-width: 500px){

    .footer .container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    

}