/* ---------RESETS--------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* FOR REMOVING THE BLANK SPACE ON THE SIDE  */
@media screen and (max-width: 1024px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/*------------CONTAINER/GRID-------------*/
.container{
max-width: 120rem;
margin: 0 auto;
padding: 1rem 1.5rem;
}

/* COLORS  */
:root {
    --orange: #de950c;
    --yellow: #fcb316;
    --light: #ffffff;
    --dark: #191919;
    --cream: rgb(245, 245, 220);
}

/* BUTTON CSS */
.btn{
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size: 1.5rem;
} 

.main{
    color: var(--light);
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid var(--light);
    transition: .5s ease-in;
}

.main:hover{
    background-color: var(--yellow);
    color: var(--light);
    border: 2px solid var(--yellow);
    transition: .5s ease-in;
}



/* ===== BANNER SECTION ===== */
.banner{
    background-image: url('./img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.banner-top, .banner-bot{
    position: relative;
    z-index: 2;
}

.banner-bot{
    padding-top: 10rem;
}

.banner-top{
    padding: 2rem 0;
}

.banner-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-top-branding img{
    width: 25rem;
}

.banner-top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.banner-top-nav li a{
    color: var(--light);
    font-size: 1.7rem;
    font-weight: 700;
}

.banner-bot-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-bot-img img{
    width: 60rem;
}

.banner-bot-text h3{
    color: var(--light);
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    width: 35rem;
}

.banner-bot-text h3 span{
    color: var(--yellow);
    display: block;
}

.banner-bot-text p{
    color: var(--light);
    font-size: 1.6rem;
    width: 50rem;
    margin: 5rem 0;
}

.banner-bot-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    width: 20rem;
    height: fit-content;
    padding: 2.5rem;
}

.banner-bot-cards{
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-blk{
    background-color: var(--dark);
}

.card-yllw{
    background-color: var(--yellow);
}

.card-org{
    background-color: var(--orange);
}

.banner-bot-items img{
    width: 6rem;
}

.banner-bot-items h4{
    color: var(--light);
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.banner-bot-items p{
    color: var(--light);
    font-size: 2rem;
    margin: 0;
}


/* ===== ABOUT SECTION ===== */
.about{
    padding: 3rem 0;
    background-color: var(--light);
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img img{
    width: 40rem;
}

.about-title h5{
    color: var(--yellow);
    font-size: 1.8rem;
    font-weight: 700;
}

.about-title h3{
    color: var(--dark);
    font-size: 3rem;
    font-weight: 700;
    width: 70rem;
    line-height: 1;
    margin-bottom: 3rem;
}

.about-text p{
    color: var(--dark);
    font-size: 1.6rem;
    width: 60rem;
    text-align: justify;
}


/* ===== ABOUT SECTION ===== */
.packages{
    padding: 3rem 0;
    background-color: var(--light);
}

.packages-card{
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 60px;
    width: 50rem;
    padding: 3.5rem;
}

.packages-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages-title h3{
    color: var(--dark);
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
}

.packages-title p{
    color: var(--light);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    width: 10rem;
    padding: 3rem 0;
    background-color: var(--yellow);
    border-radius: 50%;
    text-align: center;
}

.packages-card ul{
    
}